<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @enrollment&.user_name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @enrollment&.course_name %>
</p>

<% if current_user.admin? && @enrollment %>
  <%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<% end %>
<%= link_to 'Back', enrollments_path %> |
<%= link_to 'Courses', courses_path %> |
<%= link_to 'Users', users_path %>