<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>
<% if current_user.teacher? %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>
<%= link_to 'Enrollments', enrollments_path %>
<%= link_to 'Users', users_path %>